/* variables */
:root {
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --primary-dark-blue: hsl(198, 62%, 26%);
    --primary-dark-moderate-cyan: hsl(168, 34%, 41%);

    --neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);

    --heading-font: 'Fraunces', serif;
    --content-font: 'Barlow', sans-serif;
}

/* resets and base styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    font-family: var(--content-font);
}
  
img {
    max-width: 100%;
    height: auto;
}

.landing {
    height: 90vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;

    padding: 3em;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 4rem;
}

nav .menu {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;    
    color: var(--neutral-white);
    font-size: 2.3rem;
    font-weight: bold;
}

nav a.active {
    display: inline-block;
    font-family: var(--heading-font);
    color: black;
    text-transform: uppercase;
    background-color: var(--neutral-white);
    padding: 1.8rem 3.5rem;
    border-radius: 3rem;
}

main h1 {
    margin: 1.3em auto;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 7.2rem;
    color: var(--neutral-white);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 7px;
}

main img {
    display: block;
    margin: auto;
}