/* variables */
:root {
    --primary-soft-red: hsl(7, 99%, 70%);
    --primary-yellow: hsl(51, 100%, 49%);
    --primary-dark-desaturated-cyan: hsl(167, 40%, 24%);
    --primary-dark-blue: hsl(198, 62%, 26%);
    --primary-dark-moderate-cyan: hsl(168, 34%, 41%);

    --neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
    --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
    --neutral-grayish-blue: hsl(210, 4%, 67%);
    --neutral-white: hsl(0, 0%, 100%);

    --heading-font: 'Fraunces', serif;
    --content-font: 'Barlow', sans-serif;
}

/* resets and base styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html {
    font-size: 62.5%;
    background-color: #202020;
}

body {
    font-size: 1.8rem;
    font-family: var(--content-font);
    max-width: 1440px;
    margin: 0 auto;
    background-color: #fff;
}
  
img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    font-family: var(--heading-font);
}

/* landing page */
.landing {
    height: 90vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;

    padding: 3em;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 3.5rem;
}

nav .menu {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
}

nav li, footer li {
    list-style: none;
}

nav a {
    text-decoration: none;    
    color: var(--neutral-white);
    font-size: 1.9rem;
    font-weight: bold;
}

nav a.active {
    display: inline-block;
    font-family: var(--heading-font);
    color: black;
    text-transform: uppercase;
    background-color: var(--neutral-white);
    padding: 1.6rem 3.2rem;
    border-radius: 3rem;
}

main h1 {
    margin: 1.5em auto;
    text-align: center;
    font-size: 6rem;
    color: var(--neutral-white);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 7px;
}

main img {
    display: block;
    margin: auto;
}

/* services section */

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}

.services p, .services a {
    font-weight: bold;
}

.services > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.services > div:nth-child(2) {
    background-image: url('../images/desktop/image-transform.jpg');    
}

.services > div:nth-child(3) {
    background-image: url('../images/desktop/image-stand-out.jpg');
}

.services > div:nth-child(5) {
    background-image: url('../images/desktop/image-graphic-design.jpg');
    color: var(--primary-dark-desaturated-cyan);
}

.services > div:nth-child(6) {
    background-image: url('../images/desktop/image-photography.jpg');
    color: var(--primary-dark-blue);
}

.feature {
    padding: 8em;
}

.feature h2 {
    font-size: 4.8rem;
}

.feature p {
    color: var(--neutral-dark-grayish-blue);
    margin: 2.5em 0;
}

.more-cta {
    font-family: var(--heading-font);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    position: relative;
    padding: 0 6px;
}

.more-cta::after {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    border-radius: 10px;    
    position: absolute;
    bottom: 0;
    left: 0;
}

#brand-cta::after {
    background: hsla(51, 100%, 49%, 0.3);
}

#audience-cta::after {
    background: hsla(7, 99%, 70%, 0.3);
}

.jobs {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;    
    padding: 4em 9em;
}

.jobs h3 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 1em;
}

/* testimonials section */
.testimonials {
    padding: 8em;
    text-align: center;
    font-weight: bold;
}

.testimonials h2 {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--neutral-dark-grayish-blue);
}

.testimonies-wrapper {
    margin-top: 5em;
    display: flex;
    gap: 5em;
}

.testimony img {
    width: 8rem;
    border-radius: 50%;
}

.client-comment {
    margin: 3em 0 4em;
    font-weight: bold;
    color: var(--neutral-very-dark-grayish-blue);
}

.client-name {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 1.9rem;
}

.client-role {
    margin-top: 0.7em;
    text-transform: capitalize;
    font-size: 1.4rem;
    color: var(--neutral-grayish-blue);
}

/* gallery section */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* footer */
footer {
    background-color: #90d4c5;
    text-align: center;
    padding: 4em 8em;
}

footer .logo img {
    height: 3.3rem;
}

.secondary-links ul {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: center;
    margin-top: 2em;
}

.secondary-links a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-dark-moderate-cyan);
}

.social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5em;
    margin: 5em 0 3em 0;
}

.attribution, .attribution a {
    color: var(--primary-dark-moderate-cyan);
}